.detail h2 {
  text-align: center;
  padding: 10px;
  font-size: min(calc(1.4vmin + 1rem), 1.5rem);
  /* font-size: min(calc(1.4vmin + 0.75rem), 1.5rem); */
}

.dtl_restaurant .detail-restaurant .detail-restaurant-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  justify-items: center;

  gap: 10px;
}

.dtl_restaurant .detail-restaurant .detail-restaurant-header img {
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.dtl_restaurant .detail-restaurant .detail-restaurant-header h3 {
  font-size: min(calc(1.4vmin + 0.75rem), 1.3rem);
}

/* ------------------------- */
.dtl_restaurant .detail-restaurant .detail-restaurant-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  justify-items: start;
  font-size: min(calc(1.4vmin + 0.75rem), 1.3rem);
}

.dtl_restaurant .detail-restaurant .detail-restaurant-container h2 {
  /* padding: 10px; */
}

.dtl_restaurant .detail-restaurant .detail-restaurant-container h4 {
  font-family: "Roboto";
  font-weight: 400;
}

/*--------------------*/

.dtl_restaurant
  .detail-restaurant
  .detail-restaurant-container
  .detail-restaurant-container_alamat {
  padding: 0 10px;
  color: black;
  font-weight: bold;
  line-height: 1.5;
}

.dtl_restaurant
  .detail-restaurant
  .detail-restaurant-container
  .detail-restaurant-container_alamat
  h2 {
  padding-left: 0;
}

.dtl_restaurant
  .detail-restaurant
  .detail-restaurant-container
  .detail-restaurant-container_description {
  padding-block-start: 10px;
  color: black;
  font-weight: bold;
  line-height: 1.5;
}

.dtl_restaurant
  .detail-restaurant
  .detail-restaurant-container
  .detail-restaurant-container_description
  h2 {
  text-align: justify;
}

.dtl_restaurant
  .detail-restaurant
  .detail-restaurant-container
  .detail-restaurant-container_description
  h4 {
  padding: 0 10px;
}

/*------------------------------*/

.dtl_restaurant
  .detail-restaurant
  .detail-restaurant-container
  .detail-restaurant-container_menu {
  padding-block-start: 10px;
  padding-inline-start: 5px;
  color: black;
  font-weight: bold;
  line-height: 1.5;
  font-size: min(calc(1.4vmin + 0.75rem), 1.5rem);
  display: block;
  width: 100%;
}

.dtl_restaurant
  .detail-restaurant
  .detail-restaurant-container
  .detail-restaurant-container_menu
  .detail-restaurant-container__jenis {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
}

.dtl_restaurant
  .detail-restaurant
  .detail-restaurant-container
  .detail-restaurant-container_menu
  .detail-restaurant-container__jenis
  h3 {
  font-size: min(calc(1.4vmin + 0.75rem), 1.3rem);
}

.dtl_restaurant
  .detail-restaurant
  .detail-restaurant-container
  .detail-restaurant-container_menu
  .detail-restaurant-container__jenis
  .detail-restaurant-container__jenis_makan {
  padding: 10px;
}

.dtl_restaurant
  .detail-restaurant
  .detail-restaurant-container
  .detail-restaurant-container_menu
  .detail-restaurant-container__jenis
  .detail-restaurant-container__jenis_makan
  ul {
  list-style: none;
}

.dtl_restaurant
  .detail-restaurant
  .detail-restaurant-container
  .detail-restaurant-container_menu
  .detail-restaurant-container__jenis
  .detail-restaurant-container__jenis_minum {
  padding: 10px;
}

.dtl_restaurant
  .detail-restaurant
  .detail-restaurant-container
  .detail-restaurant-container_menu
  .detail-restaurant-container__jenis
  .detail-restaurant-container__jenis_minum
  ul {
  list-style: none;
}
.dtl_restaurant
  .detail-restaurant
  .detail-restaurant-container
  .detail-restaurant-container_review
  .detail-restaurant-container_review_dtl {
  width: 100%;
  gap: 10px;
  display: block;
}
.dtl_restaurant
  .detail-restaurant
  .detail-restaurant-container
  .detail-restaurant-container_review
  .detail-restaurant-container_review_dtl
  h3 {
  display: block;
  color: red;
  width: 100%;

  padding: 10px;
  gap: 10px;
}

/* --------------------- */

.detail .dtl_review h2 {
  text-align: left;
}

.detail .dtl_review .detail-review_cust {
  padding: 10px;
  margin: 10px;
}

/* .detail .dtl_review .detail-review-cust .detail-review-cust-{ */
